<section>
    <div class="background-header2">
        <div class="line row p-4">
            <div class="text-end justify-content-end ">
                <h1 class="col-lg-5 col-md-12 header-boder">WE ARE HERE FOR YOU <span class="footer-num">24/7</span></h1>
                <p class="col-lg-5 col-md-12">Hendrerit in vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, vel illum dolore nulla facilisis. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.</p>
            </div>
            <div class="text-end col-lg-5 col-md-12">
                <button class="p-3 bg-danger text-white text- border-0">contact us</button>
            </div>
        </div>
        <div class="background-image5"></div>
    </div>
    <!-- <div>
        <img class="arrow-red" src="object-red (1).svg" alt="">
    </div> -->
</section>

<footer>
    <div class="footer container-fluid text-center p-4">
        <div class="text-center">
            <a href="" class="m-1 ">
                <i class="bi bi-facebook footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-twitter footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-instagram footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-linkedin footer-icon"></i>
            </a>
        </div>
    </div>

    <section class="footerbg-color">
        <div class="container ">
            <div class="row p-5">
                <div class="justify-content-lg-start d-md-none d-sm-none footer-image d-lg-none d-xl-flex  mt-5 col-xl-2">
                    <img src="footer.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-6 mt-5">
                    <h4 class="footer-header">Our Mission</h4>
                    <p class="footer-paragram">Veri fastidii consectetuer ius in, eum alii dicunt omnium eu. Wisi nostrud equidem ut usu. Deleniti pertinacia eu est, te his soluta quaestio pericula vulputate velit.</p>
                </div>

                <div class="col-lg-2 col-md-6 mt-5">
                    <h4 class="footer-header">Useful Links</h4>
                    <p class=" m-0">
                        <a href="" class="footer-anchor">FAQ</a><br>
                        <a href="" class="footer-anchor">Contact Us</a> <br>
                        <a href="" class="footer-anchor"> Blog</a><br>
                    </p>
                </div>
                <div class="col-lg-2  col-md-6 mt-5">
                    <h4 class="footer-header">Term of Use</h4>
                    <p class="footer-anchor">
                        <a href="" class="footer-anchor">Terms and Conditions </a> <br>
                        <a href="" class="footer-anchor">Refund Policy</a><br>
                        <a href="" class="footer-anchor"> Disclaimer</a><br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mt-5">
                    <h4 class="footer-header">Contact Us</h4>
                    <p class="footer-header"><a href="" class="footer-anchor"><i class="bi bi-phone footer-num"></i> 0800 4521 800 50</a> <br> <a href="" class="footer-anchor"><i class="bi bi-mouse footer-num"></i> contact&#64;sampledomain.com</a><br>
                        <a href="" class="footer-anchor"><i class="bi bi-mouse footer-num"></i>office&#64;sampledomain.com</a>
                    </p>
                </div>

            </div>
        </div>
        <hr class="white-color-css">

        <section class="d-flex  justify-content-center justify-content-lg-between p-4 ">
            <div class=" container  d-none d-lg-block">
                <p class="footer-paragram small">Copyright 2020, Vision Design - graphic zoo <br> All images have been purchased from Bigstock. Do not use the images in your website.</p>

            </div>

            <div class="me-5 small">
                <p class="footer-header">
                    <a href="" class="footer-anchor">Design and coding</a>
                    <a href="" class="footer-anchor">by Responsee Team</a></p>
            </div>
        </section>

        <!-- <div class="container d-flex mt-5">

          <div class="text-start me-5">
              <p class="footer-header small">Copyright 2020, Vision Design - graphic zoo</p>
              <p class="footer-header small"> All images have been purchased from Bigstock. Do not use the images in your website.</p>
          </div>

          <div class="text-end  footer-header">
              <p>Design and coding <br> by Responsee Team</p>
          </div>
      </div> -->

    </section>


</footer>
