<main class="col-lg-12 col-sm-2 col-md-12" style=" display: block; box-sizing: border-box; margin: 0;
unicode-bidi: isolate;">
    <section class="background-header2">
        <div class="line me-5 m-4">
            <div class="text-xl-start me-xl-5 me-sm-0 text-sm-start justify-content-end">
                <h1 class="me-xl-5 me-sm-0 col-12 text-xl-start justify-content-start align-content-start header-boder">
                    WE HAVE
                    <br> STYLE
                </h1>
                <p class="text-start me-5 me-sm-0 justify-content-start align-content-end col-12">Iriure duis autem vel eum dolor in hendrerit in vulputate velit <br> esse molestie consequat, vel illum dolore eu <br> feugiat nulla facilisis lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <h4 class="header2 text-start">we did this</h4>
            </div>
            <div class="text-xl-start text-start col-md-6 col-lg-5 col-sm-12 col-md-4">
                <button class="p-3 bg-danger text-white text- border-0">our work</button>
            </div>
        </div>
        <div class="background-image2"></div>
    </section>


    <section class="background-header3 d-sm-block d-lg-flex">
        <div class="line m-lg-5 pt-lg-5 m-sm-3 p-sm-0">
            <div class="text-end justify-content-lg-start m-lg-5 pt-lg-5 me-md-3 me-sm-5 p-sm-0">
                <h1 class=" header-boder col-md-12 col-sm-12 col-lg-12 ">
                    MAKE YOUR
                    <br> DREAMS
                    <br> COME TRUE
                </h1>
                <p class="section3-paragraph col-md-12 col-lg-12 col-sm-2 justify-content-lg-end">Dolore eu feugiat nulla facilisis lobortis nisl ut aliquip ex <br> ea commodo consequat molestie hendrerit.</p>

                <div class="container-fluid d-flex section3-paragraph row ml-3">
                    <div class="d-inline-block col-xl-4 col-lg-4  col-md-4 col-sm-12 text-xl-center px-5">
                        <h1 class="h1-color">77</h1><br>
                        <span>completed <br> projects</span>
                    </div>
                    <div class="d-inline-block col-xl-4 col-lg-4 col-md-4 col-sm-12  px-5">
                        <h1 class="h1-color">92</h1><br>
                        <span>Satisfied <br>
                          Clients</span>
                    </div>
                    <div class="d-inline-block col-xl-4 col-lg-5 col-md-4 col-sm-12  px-5">
                        <h1 class="h1-color">84</h1><br>
                        <span>Resolved <br>
                          Tickets</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-image3"></div>
    </section>


    <section class="background-header2">
        <div class="line me-xl-5 m-sm-3">
            <div class="text-xl-end text-lg-end text-sm-start me-xl-5 m-sm-3 justify-content-end justify-content-sm-start ">
                <h1 class="me-xl-5 text-start me-sm-0 col-lg-12  justify-content-xl-end justify-content-sm-start align-content-start header-boder">
                    SATISFIED
                    <br>CLIENTS
                </h1>
                <p class="text-start me-5 justify-content-end align-content-start col-12">Duis autem vel eum iriure dolor in hendrerit in vulputate velit <br> esse molestie consequat, lobortis nisl ut aliquip ex ea commodo</p>

            </div>
            <div class="text-xl-end text-lg-end text-sm-center me-xl-5 float-xl-end row container-fluid static-images">
                <div class="col-xl-4 col-sm-12 col-md-6">
                    <img src="logo-1w.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-4  col-sm-12 col-md-6">
                    <img src="logo-3w.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-4 col-sm-12 col-md-6">
                    <img src="logo-3w.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-4 col-sm-12 col-md-6">
                    <img src="logo-4w.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-4 col-sm-12 col-md-6">
                    <img src="logo-5w.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-4 col-sm-12 col-md-6">
                    <img src="logo-5w.png" class="img-fluid" alt="">
                </div>
            </div>


        </div>
        <div class="background-image4"></div>
    </section>

    <section>
        <div class="work-section p-5">
            <h1 class="mx-5 text-center w-75 ">OUR WORK</h1>
        </div>
        <app-commonwork></app-commonwork>
    </section>


    <app-footer></app-footer>

</main>
