<app-header2></app-header2>
<header class="background-header justify-content-lg-start">
    <div class="line  mx-5 pt-5">
        <div class="mx-5 text-start  justify-content-lg-center pt-4">
            <h1 class=" mx-5 mb-3 header-boder">
                CONTACT US
            </h1>
        </div>
    </div>
    <div class="background-image1"></div>
</header>
<section class="bg-white">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <img src="img-09.jpg" class="figure-img w-100 h-100" alt="">
        </div>
        <div class="col-lg-4 col-md-12 bg-white">
            <div class="text-center email-contact p-4"><i class="bi bi-geo-alt"></i>
                <h6>Company Address</h6>
                <p>Aviation Way 99</p>
                <p> Los Angeles, USA</p>
            </div>
            <div class="text-center email-contact p-4">
                <i class="bi bi-envelope "></i>
                <h6> E-mail</h6>
                <p><a href="" class="text-decoration-none m-0">contact&#64;sampledomain.com</a></p>
                <p><a href="" class="text-decoration-none m-0">office&#64;sampledomain.com</a></p>
            </div>
            <div class="text-center email-contact p-4">
                <i class="bi bi-headset"></i>
                <h6>Phone Numbers</h6>
                <p>0800 4521 800 50</p>
                <p>0450 5896 625 16</p>
                <p>0798 6546 465</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div style="width: 100%"><iframe width="100%" height="730" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps devices</a></iframe></div>
        </div>
    </div>
</section>

<section class="background-header2">
    <div class="line ">
        <div class=" me-xl-5 me-sm-0 justify-content-center contact3">
            <h4 style="color: white;">Contact Form</h4>
            <form action="">
                <div class="mb-3 row  text-center">
                    <div class="col-xl-6 col-sm-12">
                        <input type="text" class="form-control bg-transparent " name="" id="" aria-describedby="helpId" placeholder="Your email" />
                    </div>
                    <div class="col-xl-6 col-sm-12">
                        <input type="text" class="form-control white-color-css bg-transparent" name="" id="" aria-describedby="helpId" placeholder="your Name" />
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control bg-transparent" name="" id="" aria-describedby="helpId" placeholder="subject" />
                </div>

                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <textarea class="form-control bg-transparent" name="" id="" rows="3" placeholder="your message"></textarea>
                </div>


                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <!-- <ckeditor [config]="ckeConfig" [(ngModel)]="editorData" [ngModelOptions]="{ standalone: true }">
                    </ckeditor> -->
                </div>

                <button type="button" class="btn btn-danger mt-2 w-100" (click)="onsubmit()">
                  send OTP
                </button>

            </form>
        </div>
    </div>
    <div class="background-image2"></div>
</section>

<footer>
    <div class="footer container-fluid text-center p-4">
        <div class="text-center">
            <a href="" class="m-1 ">
                <i class="bi bi-facebook footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-twitter footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-instagram footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-linkedin footer-icon"></i>
            </a>
        </div>
    </div>

    <section class="footerbg-color">
        <div class="container ">
            <div class="row p-5">
                <div class="justify-content-lg-start d-md-none d-sm-none footer-image d-lg-none d-xl-flex  mt-5 col-xl-2">
                    <img src="footer.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-6 mt-5">
                    <h4 class="footer-header">Our Mission</h4>
                    <p class="footer-paragram">Veri fastidii consectetuer ius in, eum alii dicunt omnium eu. Wisi nostrud equidem ut usu. Deleniti pertinacia eu est, te his soluta quaestio pericula vulputate velit.</p>
                </div>

                <div class="col-lg-2 col-md-6 mt-5">
                    <h4 class="footer-header">Useful Links</h4>
                    <p class=" m-0">
                        <a href="" class="footer-anchor">FAQ</a><br>
                        <a href="" class="footer-anchor">Contact Us</a> <br>
                        <a href="" class="footer-anchor"> Blog</a><br>
                    </p>
                </div>
                <div class="col-lg-2  col-md-6 mt-5">
                    <h4 class="footer-header">Term of Use</h4>
                    <p class="footer-anchor">
                        <a href="" class="footer-anchor">Terms and Conditions </a> <br>
                        <a href="" class="footer-anchor">Refund Policy</a><br>
                        <a href="" class="footer-anchor"> Disclaimer</a><br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mt-5">
                    <h4 class="footer-header">Contact Us</h4>
                    <p class="footer-header"><a href="" class="footer-anchor"><i class="bi bi-phone footer-num"></i> 0800 4521 800 50</a> <br> <a href="" class="footer-anchor"><i class="bi bi-mouse footer-num"></i> contact&#64;sampledomain.com</a><br>
                        <a href="" class="footer-anchor"><i class="bi bi-mouse footer-num"></i>office&#64;sampledomain.com</a>
                    </p>
                </div>

            </div>
        </div>
        <hr class="white-color-css">

        <section class="d-flex  justify-content-center justify-content-lg-between p-4 ">
            <div class=" container  d-none d-lg-block">
                <p class="footer-paragram small">Copyright 2020, Vision Design - graphic zoo <br> All images have been purchased from Bigstock. Do not use the images in your website.</p>

            </div>

            <div class="me-5 small">
                <p class="footer-header">
                    <a href="" class="footer-anchor">Design and coding</a>
                    <a href="" class="footer-anchor">by Responsee Team</a></p>
            </div>
        </section>

        <!-- <div class="container d-flex mt-5">

      <div class="text-start me-5">
          <p class="footer-header small">Copyright 2020, Vision Design - graphic zoo</p>
          <p class="footer-header small"> All images have been purchased from Bigstock. Do not use the images in your website.</p>
      </div>

      <div class="text-end  footer-header">
          <p>Design and coding <br> by Responsee Team</p>
      </div>
  </div> -->

    </section>


    <!-- <div class="footer container-fluid text-center p-4">
        <div class="text-center">
            <a href="" class="m-1 ">
                <i class="bi bi-facebook footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-twitter footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-instagram footer-icon"></i>
            </a>
            <a href="" class="m-1">
                <i class="bi bi-linkedin footer-icon"></i>
            </a>
        </div>
    </div>

    <section class="bg-dark">
        <div class="container ">
            <div class="row p-5">
                <div class="justify-content-lg-start mt-5 col-xl-2">
                    <img src="footer.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-3 mt-5">
                    <h4 class="footer-header">Our Mission</h4>
                    <p class="footer-header">Veri fastidii consectetuer ius in, eum alii dicunt omnium eu. Wisi nostrud equidem ut usu. Deleniti pertinacia eu est, te his soluta quaestio pericula vulputate velit.</p>
                </div>

                <div class="col-2 mt-5">
                    <h4 class="footer-header">Useful Links</h4>
                    <p class="footer-header">FAQ <br> Contact Us <br> Blog
                    </p>
                </div>
                <div class="col-2 mt-5">
                    <h4 class="footer-header">Term of Use</h4>
                    <p class="footer-header">Terms and Conditions <br> Refund Policy <br> Disclaimer
                    </p>
                </div>
                <div class="col-3 mt-5">
                    <h4 class="footer-header">Contact Us</h4>
                    <p class="footer-header">0800 4521 800 50 <br> contact&#64;sampledomain.com <br> office&#64;sampledomain.com</p>
                </div>

            </div>
        </div>
        <hr class="white-color-css">

        <section class="d-flex  justify-content-center justify-content-lg-between p-4 ">
            <div class=" container-fluid  d-none d-lg-block">
                <p class="footer-header small">Copyright 2020, Vision Design - graphic zoo</p>
                <p class="footer-header small"> All images have been purchased from Bigstock. Do not use the images in your website.</p>
            </div>

            <div class="me-5 small">
                <p class="footer-header">Design and coding</p>
                <p class="footer-header">by Responsee Team</p>
            </div>
        </section>


    </section> -->


</footer>
