<app-header2></app-header2>

<header class="background-header justify-content-lg-start">
    <div class="line  mx-5 pt-5">
        <div class="mx-5 text-start  justify-content-lg-center pt-4">
            <h1 class=" mx-5 mb-3 header-boder">
                OUR SERVICES
            </h1>
        </div>

    </div>
    <div class="background-image1"></div>
</header>

<section class="background-header2 bg-white">
    <div class="line mb-5">
        <div class="text-start row me-5 justify-content-center ">
            <div class="text-end p-2 p-4 about-section2 justify-content-end align-content-center col-sm-6 col-lg-5 col-md-6">
                <p class="about-paragraph">
                    Vim ei nihil exerci populo. Stet perpetua ius et. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                </p>

                <p>Hendrerit in vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis. Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et, latine omittam expetendis
                    no mei. Vim ei nihil exerci populo. Stet perpetua ius et. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                </p>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6 justify-content-end justify-content-sm-center align-content-center header-boder ">
                <h2 class="header-boder1"> <span class="serives-color">01</span> CLARITAS ESTVELIT ETIAM </h2>
            </div>
        </div>
    </div>
</section>

<section class="background-header3 ">
    <div class="line  me-xl-5 me-lg-5 me-sm-0 row">
        <div class="text-xl-end text-lg-end text-sm-start header-boder justify-content-lg-start justify-content-sm-start justify-content-md-end col-sm-12 col-md-12 col-lg-5 ">
            <h2 class="header-boder2"> <span class="serives-color">02</span> PURTO SUSCIPIANTUR CONCLUS ONEMQUE</h2>
        </div>
        <div class="text-xl-start text-sm-start col-md-12 col-sm-6 col-lg-5 justify-content-lg-end justify-content-sm-center align-content-center">
            <p class=" about-paragraph">Vim ei nihil exerci populo. Stet perpetua ius et. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.</p>
            <p>Hendrerit in vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis. Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et, latine omittam expetendis
                no mei. Vim ei nihil exerci populo. Stet perpetua ius et. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis. Hendrerit in vulputate duis autem vel eum iriure dolor in velit esse molestie
                consequat, illum nulla facilisis.</p>
        </div>
    </div>
    <div class="background-image3"></div>
</section>



<section class="background-header4">
    <div class="line mb-5">
        <div class="text-start row me-xl-5 me-lg-5 me-sm-0 justify-content-center ">
            <div class="text-xl-end text-sm-center service-color1  about-section2 justify-content-end align-content-center col-sm-6 col-lg-6 col-md-6">
                <p class="about-paragraph">
                    Vim ei nihil exerci populo. Stet perpetua ius et. Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                </p>

                <p>Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et, latine omittam expetendis no mei. Vim ei nihil exerci populo.
                </p>
                <div class="container-fluid d-flex text-center col-12 ">
                    <div class="d-inline-block col-4 text-end px-lg-5">
                        <h1 class="">1543</h1><br>
                        <span>Eodem modo typi</span>
                    </div>
                    <div class="d-inline-block col-4 text-end px-5">
                        <h1>95</h1><br>
                        <span>Duis autem</span>
                    </div>
                    <div class="d-inline-block text-end col-4 px-5">
                        <h1>287</h1><br>
                        <span>Mirum est notare</span>
                    </div>
                </div>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-12 m-md-0 justify-content-end align-content-center header-boder ">
                <h2 class="header-boder2"> <span class="about-section2">03</span>VULPUTATE DUIS AUTEM VEL EUM IRIURE</h2>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
