<div class="">
    <app-header2></app-header2>
    <header class="background-header justify-content-lg-start">
        <div class="line  mx-5 pt-5">
            <div class="mx-5 text-start  justify-content-lg-center pt-4">
                <h1 class=" mx-5 mb-3 header-boder">
                    OUR WORK
                </h1>
            </div>
        </div>
        <div class="background-image1"></div>
    </header>
    <section>
        <app-commonwork></app-commonwork>
    </section>
    <app-footer></app-footer>
</div>
